
# **Python** Basics




![cevi.png]()

Day 2 <br>
07/09/2023 <br>
Speaker Allabakash

Introduction


Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib,opencv) it becomes a powerful environment for scientific computing.

We expect that many of you will have some experience with Python and numpy; for the rest of you, this section will serve as a quick crash course both on the Python programming language and on the use of Python for scientific computing.


Reference Documents

python     : https://docs.python.org/3/tutorial/index.html <br>

In this tutorial, we will cover:

* Basic Python: Basic data types (Containers, Lists, Dictionaries, Sets, Tuples), Functions, Classes

## A Brief Note on Python Versions

 Python has [officially dropped support](https://docs.python.org/3/) for `python2`. We'll be using Python 3.8 for this iteration of the course. You can check your Python version at the command line by running `python --version`. In Colab, we can enforce the Python version by clicking `Runtime -> Change Runtime Type` and selecting `python3`. Note that as of April 2020, Colab uses Python 3.6.9 which should run everything without any errors.

# Python Basic Math

# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:
x = 2
y = 5
xy = 'Hey'

In [3]:
print (x+y, xy)

7 Hey



*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

Multiple variables can be assigned with the same value.

In [ ]:
x = y = 1

In [ ]:
print (x,y)

In [4]:
xxq='a'
xxw='b'
xxw+xxq

'ba'

In [15]:
a,b,c,d=3,4,a,4

In [14]:
m,k,o=3,m,5
k

NameError: name 'm' is not defined

In [30]:
ji="kds"
sk="kjds"
print(ji*sk)

TypeError: can't multiply sequence by non-int of type 'str'

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

In [ ]:
2-1

In [ ]:
1*2

In [ ]:
8/4.0

This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [ ]:
1/2.0

In [ ]:
15%10

Floor division is nothing but converting the result so obtained to the nearest integer.

In [ ]:
2.8//2.0

In [27]:
z=!1

# #Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [ ]:
z = 1

In [ ]:
z == 1

In [ ]:
z > 1

## Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [33]:
a = 0b10
b = 0b11

In [34]:
print (a & b)
print (bin(a&b))

2
0b10

In [35]:
5 >> 1

2

0000 0101 -> 5

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [ ]:
5 << 1

0000 0101 -> 5

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

# Built-in Functions

Python comes loaded with pre-built functions

## Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [ ]:
hex(170)

In [ ]:
0xAA

In [ ]:
oct(8)

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [36]:
chr(98)

'b'

In [37]:
ord('b')

98

## Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [38]:
print (round(5.6231))
print (round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [39]:
c =complex('5+2j')
print (abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [40]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [41]:
print( isinstance(1, int))
print( isinstance(1.0,int))
print( isinstance(1.0,(int,float)))

True
False
True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [42]:
print (pow(3,3))
print (pow(3,3,5))

27
2

## Accepting User Inputs

**input( )**, this is used only for accepting only integer inputs.

In [ ]:
abc1 =  int(input("Only integer can be stored in variable abc \t"))

In [ ]:
type(abc1)

## Exercise
Take Two inputs from user and perform all the arthemetic operations.

Note that **type( )** returns the format or the type of a variable or a number